/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/vendor_1
.env
.env.backup
.env.production
.env_bck
.phpactor.json
.phpunit.result.cache
.phpunit.cache
*.log
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
/developement
storage/.nova
storage
phpunit.xml
